.text-style {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button {
    text-align: center;
    font-size: 20px;
}
.navbar-style {
    background: rgba(255, 255, 255, 0.541);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.navbar-dropdown-style {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.281);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.11);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.dropdown-menu[data-bs-popper] {
    margin-top: 10px;
}
.dropdown-item {
    background: rgba(255, 255, 255, 0);
}
.dropdown-item:hover {
    background: rgba(255, 255, 255, 0.76);
}
.navbar-burger-thing {
    border-radius: 15px;
}
.card {
    background: rgba(255, 255, 255, 0.281);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    margin: 5px;
}
.card-img-top {
    border-radius: 10px; 
    margin-top: 10px;
}
.list-group {
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
}
.list-group-item {
    background: rgba(255, 255, 255, 0.432);
}
.h1-style {
    text-align: center;
    word-wrap: break-word;
    width: 100%;
}
.css-button-shadow-border-sliding--sky {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #4433ff;
   z-index: 1;
  }
  .css-button-shadow-border-sliding--sky:hover:after {
    width: 100%;
    left: 0;
  }
  .css-button-shadow-border-sliding--sky:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
    background-color: #3a86ff;
    right: 0;
  }
  .css-button-shadow-border-sliding--sky:active {
    top: 2px;
  }
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
  }
.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (max-width: 575.98px) {
    body {
        margin: 0px;
    }
    .navbar-style {
        border-radius: 0px;
    }
    .h1-style {
        font-size: 50px;
    }
    .center-mobile {
        text-align: center;
    }
    .show-on-mobile {
        display: unset;
    }
    .hide-on-mobile {
        display: none;
    }
}
@media (min-width: 575.98px) and (max-width: 10000px){
    body {
        margin: 50px;
    }
    .navbar-style {
        border-radius: 25px;
    }
    .h1-style {
        font-size: 100px;
    }
    .center-mobile {
        text-align: unset;
    }
    .show-on-mobile {
        display: none;
    }
    .hide-on-mobile {
        display: unset;
    }
}
